<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login page</title>
</head>
<body style='background-color: rgba(22, 119, 90, 0.661);'>
    <table width='100%'>
        <tr>
            <th height='70px' style='background-color: rgb(139, 148, 17); border-radius: 30px;' colspan='4'>Admin Login Election Commission Of Pakistan
            </th>
        </tr>
        <tr height='100px'>
        </tr>
        <tr>
            <th width='400px'>
            </th>
            <th style='border: 2px solid rgb(33, 83, 164); border-radius: 30px; background-color: rgb(139, 148, 17);' height='200px'>
                <form method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value=' Login' style='background-color: orange; border-radius: 30px;'>
                </form>
            </th>
            <th width='400px'>
            </th>
        </tr>
    </table>
    
</body>
</html>