<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check the registrations of Users </title>
</head>
<body style='background-color: rgb(0, 90, 72) ;'>
    <table width='100%' border='0'>
        <tr height='100px'>
            <th style='background-color: #08352c; border-radius: 30px;' colspan='7'>
                Registration Verification Panel
            </th>
        </tr>
        <tr height='70px'>
        </tr>
    </table>
    <table width='100%' border='1'>
        <tr height='60px' style='background-color: orange;'>
            <th>Name</th>
            <th>Father_Name</th>
            <th>Phone_Number</th>
            <th>Email_Adress</th>
            <th>ID_NO</th>
            <th>Password</th>
        </tr>
        <tr height='30px'></tr>

        {% for x in object %}
        <tr style='border: 1px solid black;'>                   
            <th>{{x.name}}</th>                   
            <th>{{x.father_name}}</th>
            <th>{{x.id_no}}</th>
            <th>{{x.phone_number}}</th>                   
            <th>{{x.email_adress}}</th>
            <th>{{x.password}}</th>
        </tr>

        {% endfor %}
    </table>
    
</body>
</html>