<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us (Election Commision Of Pakistan)</title>
</head>
<body style='background-color:  rgb(0, 90, 72);'>
    <table width='100%'>

        <tr height='100px'>
            <th style='background-color:  rgb(139, 148, 17); border-radius: 30px; font-size: 30px;'>
            In case any query Contact us at:<br>
        </th>
        </tr>
        <tr height='100px'>
        </tr>
        <tr>
            <th style='font-size: 30px;'>
                Mail us:<br>
                ECP@gamil.com<br><br><br>
                Phonenumber:<br>
                03267613716
            </th>
        </tr>
    </table>
</body>
</html>