<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Commission Of Pakistan</title>
</head>
<body>
    <table width='100%'>
        <tr height='100px'>
            <th style='background-color: rgb(128, 128, 128); border-radius: 30px; font-size: 18px;'>
                Election Commission Islamia Universty Of Bahawalpur
            </th>
        </tr>
        <tr>
            <th style='font-style: italic;'>
                Welcome to Election Commission Of Islamia Universty Of Bahawalpur  <br>Please Use the One Time Password(OTP)<br>
                To verify your vote on the Portal Your <br>
                OTP is  ::
            </th>
        </tr>
        <tr style='background-color: rgba(0, 166, 255, 0.571);'>
            <th style='border-radius: 30px;'>
                {{ otp }}
            </th>
        </tr>
        <tr height='100px' style='font-style: italic;'>
            <th>
                Pleae Click The link Below to verify Your vote<br>Or visit the portal 
            </th>
        </tr>
        <tr style='background-color: rgba(16, 145, 136, 0.443);'>
            <th style='font-style: italic; border-radius: 30px;'>
                <a href='http://127.0.0.1:8000/Account_verification/'>Verify My Account</a> 
            </th>
        </tr>

    </table>
    
</body>
</html>