<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer page of website </title>
</head>
<body>
    <table width='100%' style='background-color: rgb(48, 95, 86) ;'>
        <tr height='300px'>
            <th colspan='3'>
                <ul style='list-style: none;'>
                <h2>About ECIUB</h2>
                <li><a href='ECP_overview/' style='text-decoration: none;'>Over view Of ECP</a></li>
                <li><a href='' style='text-decoration: none;'>Honourable members</a></li>
                <li><a href='' style='text-decoration: none;'>Officers</a></li>
                <li><a href='' style='text-decoration: none;'>ECP departments</a></li>
                </ul>
            </th>
            <th colspan='3'>
                <ul style='list-style: none;'>
                    <h2>For voter</h2>
                    <li><a href='registration/' style='text-decoration: none;'>How to register</a></li>
                    <li><a href='verify_registration/' style='text-decoration: none;'>Check your Registration</a></li>
                    <li><a href='' style='text-decoration: none;'>Electroral Rolls</a></li>
                </ul>
            </th>
            <th colspan='4'>
                <ul style='list-style: none;'>
                    <h2>Delimitation</h2>
                    <li><a href='' style='text-decoration: none;'>Delimitation 2023</a></li>
                    <li><a href='' style='text-decoration: none;'>Delimitation 2024</a></li>
                    <li><a href='' style='text-decoration: none;'>Animation Video on Delimitation</a></li>
                    <li></li>
                    <li></li>
                </ul>
            </th>
        </tr>
    </table>
</body>
</html>