<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Voter Page </title>
</head>
<body>
    <table width='100%'>
        <tr height='100px'>
            <th style='background-color: #08352c; border-radius: 40px; font-size:24px; color: cornflowerblue;' colspan='7'>
                Election Management System Islamia Universty Of BahawalPur 
            </th>
        </tr>
        <tr>
            <th>
                Follow the instructions below to get more instructions from us 
            </th>
        </tr>
    </table>
    
</body>
</html>