<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genaral Election 2024</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style='background-color:  rgb(0, 90, 72);'>
    <table width='100%'>
        <tr height='100px'>
            <th style=' background-color: orange; border-radius: 20px;' colspan='4'>
                General Election 2024
            </th>
        </tr>
    </table>
    {% include "header.html" %}
    <table width='100%'>
        <tr height='70px'></tr>
        <tr>
            <th colspan='2'>
                <p style='font-weight: bolder; font-size: 30px;'>General elections 2024<br></p>
                <p>CEC Message For Conducting Successfull Elections</p><br>
                <a href='' style='color: red;'>URDU VERSION</a> -- <a href='' style='color: red;'>ENGLISH VERSION</a><br><br>
                Form 68 Regarding The Submission Of Detail Of Compaign Of Finance By Political Parties<br><br>
                <a href='' style='color: red;'>Form 68 Regardignthe Submission Of Detail of Compaign Of Political Parties</a>

            </th>
            <th></th>
            <th></th>
            <th style='background-color: orange;  border-top-right-radius: 70px; border-bottom-left-radius: 70px;'><a href=''>Check your Vote <br>Through SMS 8300</a></th>
        </tr>
    </table>
</body>
</html>