
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <marquee scrollamount='2' scrolldelay='100' behavior='alternate'>
        <table width='100%' style='background-color: rgb(180, 150, 19); border-radius: 40px;'><br><br><br>
            <tr>
                <th width='700px'>
                </th>
                <th>
                    <img src='{% static "Quide_e_Azam.jpg" %}' width='170px' height='170px' style='border-radius: 40px;'>
                </th>
            </tr>
            <tr height='100px' width='200px'>
                <th colspan='7'  style='font-style: oblique; font-size: 20px;'>
                The first thing that I want to tell you is this, that you should not be influenced by any political pressure,<br>
                by any political party or individual politician. If you want to raise the prestige and greatness of Pakistan,<br>you must not fall a victim to any pressure, but do your duty as servants to the people and the State,<br> fearlessly and honestly. 
                   You should have no hand in supporting this political party or that political party, <br>this political leader or that political leader this is not your business.Whichever government is formed according <br>to the constitution, and whoever happens to be the prime minister or minister coming into power in<br>the ordinary constructional course, your duty is not only to serve that government loyally and faithfully,<br> but, at the same time, fearlessly, maintaining your high reputation, your prestige,<br> your honour and the integrity of your service. If you will start with that determination,<br> you will make a great contribution to the building up of Pakistan, of your conception and <br>our dream  a glorious State and one of the greatest nations in the world.<br><br>
                      Quaid-e-Azam Muhammad Ali Jinnah<br>
                         Founder of Pakistan
                </th>
                <th>
                </th>
            </tr>
        </table>
    </marquee>
</body>
</html>
    