<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To Election Commision Of Pakistan</title>
</head>
<body>
    <table width='100%'>
        <tr height='100px'>
            <th style='background-color: rgb(13, 117, 117); border-radius: 40px; font-size: 20px;' colspan='4'>
                Login page Election Commission Of Pakistan
            </th>
        </tr>
        <tr height='100px'>
            <th colspan='4'>
                {% for x in messages %}
                  <p style='color: red;'> {{ x }}</p>
                {% endfor %}
            </th>
        </tr>
        <tr>
                <th width='300px'>
                </th>
                <th style='border-radius: 40px;'>
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Login' style='background-color: rgb(97, 64, 3); border-radius: 40px;'>
                </form>
            </th>
            <th width='300px'>
            </th>
        </tr>
        <tr height='300px'>
            <th colspan='7'><a href='send_detail/' style='color: orange; text-decoration: none;'>Request for detail</a></th>
        </tr>
    </table>
    
</body>
</html>