<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election  Management System</title>
</head>
<body style='font-style: italic;'>
    <table width='100%'>
        <tr height='100px'>
            <th colspan='4' style='border-radius: 30px; background-color: rgb(8, 55, 38); font-size:30px;'>
                Enter Your Registered User Name To Get The Detail Of Your Account 
            </th>
        </tr>
        <tr height='100px'>
            <th colspan='9'>
                {% for x in messages %}
                  <p style='color: rgb(7, 78, 88);'>{{ x }}</p>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <th width='400px'></th>
            <th>
                <form method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type='submit' value='Create' style='background-color: orange; border-radius: 30px;'>
                </form>
            </th>
            <th width='400px'></th>
            

        </tr>
    </table>
    
</body>
</html>