<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Election Commission of Pakistan overview</title>
</head>
<body style='background-color:  rgb(0, 90, 72);'>
   
    <table width='100%'>
        <tr height='100px'>
            <th style='background-color:  #08352c; border-radius: 30px; font-size: 20px;' colspan='4'>
                Chief Election Commission Selection Procedure
            </th>
        </tr>

    </table>
    {% include "header.html" %}
        <table width='100%'>
        <tr height='100px'>
        </tr>
        <tr style='background-color: grey;'>
        <th colspan='4'>Following Constituitional procedure is followed SE of Chief ECP
        </th>
        </tr>
        <tr height='70px'></tr>
        <tr>
            <th width='200px'></th>
            <th style='background-color: hsla(0, 0%, 100%, 0.611); font-style: italic; border-radius: 40px;'><p>

                CONSTITUTIONAL PROVISION RELATING TO ECP<br>
                
                APPOINTMENT OF CHIEF ELECTION COMMISSIONER AND ELECTION COMMISSION<br>
                
                Chief Election Commissioner<br><br>
                
                213. (1) There shall be a Chief Election Commissioner (in this Part referred to as the Commissioner), who shall be appointed by the President.<br>
                 (2) No person shall be appointed to be Commissioner unless he has been a Judge of the Supreme Court or has been a senior civil servant or is a technocrat and is not more than sixty-eight years of age.<br>
                 Explanation 1.—“senior civil servant” means civil servant who has served for at least twenty years under Federal or a Provincial Government and has retired in BPS-22 or above.<br>
                 Explanation 2.—“technocrat” means a person who is the holder of a degree requiring conclusion of at least sixteen years of education, recognized by the Higher Education Commission and has at least twenty years of experience, including a record of achievements at the national or international level.<br>
                 (2A) The Prime Minister shall in consultation with the Leader of the Opposition in the National Assembly, forward three names for appointment of the Commissioner to a Parliamentary Committee for hearing and confirmation of any one person:<br>
                 Provided that in case there is no consensus between the Prime Minister and the Leader of the Opposition, each shall forward separate lists to the Parliamentary Committee for consideration which may confirm any one name.<br>
                 (2B) The Parliamentary Committee to be constituted by the Speaker shall comprise fifty percent members from the Treasury Benches and fifty percent from the Opposition Parties, based on their strength in Majlis-e-Shoora (Parliament), to be nominated by the respective Parliamentary Leaders:<br>
                 Provided that the total strength of the Parliamentary Committee shall be twelve members out of which one-third shall be from the Senate:<br>
                 Provided further that when the National Assembly is dissolved and a vacancy occurs in the office of the Chief Election Commissioner, total membership of the Parliamentary Committee shall consist of the members from the Senate only and the foregoing provisions of this clause shall, mutatis mutandis, apply.<br>
                 (3) The Commissioner or a member shall have such powers and functions as are conferred on him by the Constitution and law.<br>
                
                Oath of Office<br>
                
                214. Before entering upon office, the Commissioner shall make before the Chief Justice of Pakistan and a member of the Election Commission shall make before the Commissioner oath in the form set-out in the Third Schedule. Term of office of Commissioner and members<br>
                
                Term of office of Commissioner [and members] <br>
                215. (1) The Commissioner and a member shall, subject to this Article, hold office for a term of five years from the day he enters upon his office:<br>
                 Provided that two of the members shall retire after the expiration of first two and a half years and two shall retire after the expiration of the next two and a half years:<br>
                 Provided further that the Commission shall for the first term of office of members draw a lot as to which two members shall retire after the first two a half years:<br>
                 Provided also that the term of office of a member appointed to fill a casual vacancy shall be the un-expired term of the office of the member whose vacancy he has filled.<br>
                (2) The Commissioner or a member shall not be removed from office except in the manner prescribed in Article 209 for the removal from office of a Judge and, in the application of the Article for the purposes of this clause, any reference in that Article to a Judge shall be construed as a reference to the Commissioner or, as the case may be, a member.<br>
                (3) The Commissioner or a member may, by writing under his hand addressed to the President, resign his office.<br>
                (4) Vacancy in the office of the Commissioner or a member shall be filled within forty-five days.<br>
                
                Commissioner[and members] not to hold office of profit<br>
                
                216. (1) The Commissioner or a member shall not-<br>
                 (a) hold any other office of profit in the service of Pakistan; or<br>
                 (b) occupy any other position carrying the right to remuneration for the rendering of services.<br>
                 (2) A person who has held office as Commissioner or a member shall not hold any office of profit in the service of Pakistan before the expiration of two years after he has ceased to hold that office.<br>
                
                Acting Commissioner<br>
                
                217. At any time when—<br>
                 (a) the office of Commissioner is vacant, or<br>
                 (b) the Commissioner is absent or is unable to perform the functions of his office due to any other cause, the most senior member in age of the members of Commission shall act as Commissioner. Election Commission<br>
                
                Election Commission <br>
                
                218. (1) For the purpose of election to both Houses of Majlis-e- Shoora (Parliament), Provincial Assemblies and for election to such other public offices as may be specified by law, a permanent Election Commission shall be constituted in accordance with this Article.<br>
                 (2) The Election Commission shall consist of—<br>
                 (a) the Commissioner who shall be Chairman of the Commission; and<br>
                 (b) four members, one from each Province, each of whom shall be a person who has been a judge of a High Court or has been a senior civil servant or is a technocrat and is not more than sixty-five years of age, to be appointed by the President in the manner provided for appointment of the Commissioner in clauses (2A) and (2B) of Article 213.<br>
                 Explanation.—“senior civil servant” and “technocrat” shall have the same meaning as given in clause (2) of Article 213.<br>
                 (3) It shall be the duty of the Election Commission to organize and conduct the election and to make such arrangements as are necessary to ensure that the election is conducted honestly, justly, fairly and in accordance with law, and that corrupt practices are guarded against.<br>
                
                Duties of Commission<br>
                
                219. The Commission shall be charged with the duty of—<br>
                 (a) preparing electoral rolls for election to the National Assembly, Provincial Assemblies and local governments, and revising such rolls periodically to keep them up-to- date;<br>
                 (b) organizing and conducting election to the Senate or to fill casual vacancies in a House or a Provincial Assembly; and<br>
                 (c) appointing Election Tribunals;<br>
                 (d) the holding of general elections to the National Assembly, Provincial Assemblies and the local governments; and<br>
                 (e) such other functions as may be specified by an Act of Majlis-e-Shoora (Parliament):<br>
                 Provided that till such time as the members of the Commission are first appointed in accordance with the provisions of paragraph (b) of clause (2) of Article 218 pursuant to the Constitution (Eighteenth Amendment) Act, 2010, and enter upon their office, the Commissioner shall remain charged with the duties enumerated in paragraphs (a), (b) and (c) of this Article.<br>
                
                Executive authorities to assist Commission, etc.<br>
                
                220. It shall be the duty of all executive authorities in the Federation and in the Provinces to assist the Commissioner and the Election Commission in the discharge of his or their functions.<br>
                
                Officers and staff<br>
                
                221. Until Majlis-e-Shoora (Parliament) by law otherwise provides, the Election Commission may, with the approval of the President, make rules providing for the appointment by the Commissioner of officers and staff to be employed in connection with the functions of the Election Commission and for their terms and conditions of employment.<br><br><br>
                
                ELECTORAL LAWS AND CONDUCT OF ELECTIONS<br><br><br>
                Electoral laws<br>
                
                222. Subject to the Constitution, Majlis-e-Shoora (Parliament) may by law provide for—<br>
                 (a) the allocation of seats in the National Assembly as required by clauses (3) and (4) of Article 51;<br>
                 (b) the delimitation of constituencies by the Election Commission including delimitation of constituencies of local governments;<br>
                 (c) the preparation of electoral rolls, the requirements as to residence in a constituency, the determination of objections pertaining to and the commencement of electoral rolls;<br>
                 (d) the conduct of elections and election petitions the decision of doubts and disputes arising in connection with elections;<br>
                 (e) matters relating to corrupt practices and other offences in connection with elections; and<br>
                 (f) all other matters necessary for the due constitution of the two Houses, the Provincial Assemblies and local governments;<br>
                but no such law shall have the effect of taking away or abridging any of the powers of the Commissioner or the Election Commission under this Part.<br>
                
                Bar against double membership<br>
                
                223. (1) No person shall, at the same time, be a member of—<br>
                 (a) both Houses; or<br>
                 (b) a House and a Provincial Assembly; or<br>
                 (c) the Assemblies of two or more Provinces; or<br>
                 (d) a House or a Provincial Assembly in respect of more than one seat.<br>
                 (2) Nothing in clause (1) shall prevent a person from being a candidate for two or more seats at the same time, whether in the same body or in different bodies, but if he is elected to more than one seat he shall, within a period of thirty days after the declaration of the result for the last such seat, resign all but one of his seats, and if he does not so resign, all the seats to which he has been elected shall become vacant at the expiration of the said period of thirty days except the seat to which he has been elected last or, if he has been elected to more than one seat on the same day, the seat for election to which his nomination was filed last.<br>
                 Explanation.—In this clause, "body" means either House or a Provincial Assembly.<br>
                 (3) A person to whom clause (2) applies shall not take a seat in either House or the Provincial Assembly to which he has been elected until he has resigned all but one of his seats.<br>
                 (4) Subject to clause (2) if a member of either House or of a Provincial Assembly becomes a candidate for a second seat which, in accordance with clause (1), he may not hold concurrently with his first seat, then his first seat shall become vacant as soon as he is elected to the second seat.<br>

                
                Time of Election and bye-election<br>
                
                224. (1) A general election to the National Assembly or a Provincial Assembly shall be held within a period of sixty days immediately following the day on which the term of the Assembly is due to expire, unless the Assembly has been sooner dissolved, and the results of the election shall be declared not later than fourteen days before that day.<br>
                 (1A) On dissolution of the Assembly on completion of its term, or in case it is dissolved under Article 58 or Article 112, the President, or the Governor, as the case may be, shall appoint a care-taker Cabinet:<br>
                 Provided that the care-taker Prime Minister shall be appointed by the President in consultation with the Prime Minister and the Leader of the Opposition in the outgoing National Assembly, and a care-taker Chief Minister shall be appointed by the Governor in consultation with the Chief Minister and the Leader of the Opposition in the outgoing Provincial Assembly:<br>
                 Provided further that if the Prime Minister or a Chief Minister and their respective Leader of the Opposition do not agree on any person to be appointed as a care-taker Prime Minister or the care-taker Chief Minister, as the case may be, the provisions of Article 224A shall be followed:<br>
                 Provided also that the Members of the Federal and Provincial care-taker Cabinets shall be appointed on the advice of the care-taker Prime Minister or the care-taker Chief Minister, as the case may be.<br>
                 (1B) Members of the care-taker Cabinets including the care- taker Prime Minister and the care-taker Chief Minister and their immediate family members shall not be eligible to contest the immediately following elections to such Assemblies.<br>
                 Explanation.— In this clause, “immediate family members” means spouse and children.<br>
                 (2) When the National Assembly or a Provincial Assembly is dissolved, a general election to the Assembly shall be held within a period of ninety days after the dissolution, and the results of the election shall be declared not later than fourteen days after the conclusion of the polls.<br>
                 (3) An election to fill the seats in the Senate which are to become vacant on the expiration of the term of the members of the Senate shall be held not earlier than thirty days immediately preceding the day on which the vacancies are due to occur.<br>
                 (4) When, except by dissolution of the National Assembly or a Provincial Assembly, a general seat in any such Assembly has become vacant not later than one hundred and twenty days before the term of that Assembly is due to expire, an election to fill the seat shall be held within sixty days from the occurrence of the vacancy.<br>
                 (5) When a seat in the Senate has become vacant, an election to fill the seat shall be held within thirty days from the occurrence of the vacancy.<br>
                 (6) When a seat reserved for women or non-Muslims in the National Assembly or a Provincial Assembly falls vacant, on account of death, resignation or disqualification of a member, it shall be filled by the next person in order of precedence from the party list of the candidates to be submitted to the Election Commission by the political party whose member has vacated such seat.<br>

                 Provided that if at any time the party list is exhausted, the concerned political party may submit a name for any vacancy which may occur thereafter.<br>
                
                Resolution by Committee or Election Commission<br>
                
                224A. (1) In case the Prime Minister and the Leader of the Opposition in the outgoing National Assembly do not agree on any person to be appointed as the care-taker Prime Minister, within three days of the dissolution of the National Assembly, they shall forward two nominees each to a Committee to be immediately constituted by the Speaker of the National Assembly, comprising eight members of the outgoing National Assembly, or the Senate, or both, having equal representation from the Treasury and the Opposition, to be nominated by the Prime Minister and the Leader of the Opposition respectively.<br>
                 (2) In case a Chief Minister and the Leader of the Opposition in the outgoing Provisional Assembly do not agree on any person to be appointed as the care-taker Chief Minister, within three days of the dissolution of that Assembly, they shall forward two nominees each to a Committee to be immediately constituted by the Speaker of the Provincial Assembly, comprising six members of the outgoing Provincial Assembly having equal representation from the Treasury and the Opposition, to be nominated by the Chief Minister and the Leader of the Opposition respectively.<br>
                 (3) The Committee constituted under clause (1) or (2) shall finalize the name of the care-taker Prime Minister or care-taker Chief Minister, as the case may be, within three days of the referral of the matter to it: Provided that in case of inability of the Committee to decide the matter in the aforesaid period, the names of the nominees shall be referred to the Election Commission of Pakistan for final decision within two days.<br>
                 (4) The incumbent Prime Minister and the incumbent Chief Minister shall continue to hold office till appointment of the care-taker Prime Minister and the care-taker Chief Minister, as the case may be.<br>
                 (5) Notwithstanding anything contained in clauses (1) and (2), if the members of the Opposition are less than five in the Majlis-e-Shoora (Parliament) and less than four in any Provincial Assembly, then all of them shall be members of the Committee mentioned in the aforesaid clauses and the Committee shall be deemed to be duly constituted.<br>
                
                Election dispute<br>
                
                225. No election to a House or a Provincial Assembly shall be called in question except by an election petition presented to such tribunal and in such manner as may be determined by Act of Majlis-e-Shoora (Parliament).<br>
                
                Elections by secret ballot<br>
                
                226. All elections under the Constitution, other than those of the Prime Minister and the Chief Minister, shall be by secret ballot.<br>
                

            </p>
            </th>
            <th width='200px'></th>
        </tr>
    </table>
    
</body>
</html>