<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Register yourself ? </title>
</head>
<body>
    {% load static %}
    <table width='100%'>
        <tr height='100px'>
            <th style='background-color: rgba(4, 130, 96, 0.6); border-radius: 30px;'>
                Learn how to register yourself 
            </th>
        </tr>
    </table>
        {% include "header.html" %}
        <table width='100%'>
            <tr height='70px'>
            </tr>
            <tr>
                <th width='300px'></th>
                <th>
                    <video controls style='border-radius: 30px;' width='500px' height='500px'>
                        <source src='{% static "20240429_124938.mp4" %}'>
                </th>
                <th width='300px'></th>
            </tr>
        </table>
</body>
</html>