<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Recovery By Email</title>
</head>
<body style='background-color: rgb(0, 90, 72) ;'>
    <table width='100%'>
        <tr height='70px'>
            <th style='background-color: rgb(41, 61, 57); border-radius: 30px;'>Data recovery By Email 
            </th>
        </tr>
        <tr height='40px'>
        </tr>
        <tr>
            <th style='background-color: grey; border-radius: 30px;'>
                Dear {{name}},<br><br>
                Your Registration data  from Election Commission Of Pakistan is ::<br><br>
                USERNAME={{name}}<br>
                First_Name={{first_name}}<br>
                PHONE_NUMBER ={{phone_number}}<br>
                EMAIL_ADRESS ={{email}}<br>
                PASSWORD ={{password}}
            </th>
        </tr>
        <tr>
            <th height='70px'>
                For more visit us <a href='http://127.0.0.1:8000/ECP/'>Election Commission Of Pakistan (ECP)</a>
                
            </th>
        </tr>
    </table>
    
</body>
</html>