<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification By OTP </title>
</head>
<body style='background-color: rgb(15, 137, 88);'>
    <table width='100%'>
        <tr style='height: 100px;'>
            <th style='font-size: 20px; border-radius: 40px; background-color: green; ' colspan='4'>
                Verify Your Account By OTP
            </th>
        </tr>
        <tr height='70px'>
        </tr>
        <tr height='200px'>
            <th width='130px'>
            </th>
            <th style='background-color: rgba(5, 78, 39, 0.547); border-radius: 30px;'>
                {% for x in messages %}
                    <p style="color:white;">{{ x }}</p>
                {% endfor %}
                <form method='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Activate Your Account' style='background-color: rgb(80, 142, 0); border-radius: 30px;'>
                </form>
            </th>
            <th width='130px'>
            </th>
        </tr>
        <tr>
            <th colspan='4' height='180px'>
                <a href='otp_reverification/'>Resend OTP</a>
            </th>
        </tr>
    </table>
    
</body>
</html>